<div class="espace-haut"></div>

<div class="titre-page">Saisissez votre commentaire : </div>

<div class="centrer-formulaire margin-bottom">
  <form (ngSubmit)="onSubmit(commentaireForm.value)" #commentaireForm="ngForm">

    <div class="margin-auteur">
      <label class="titre-formulaire" for="auteur">Auteur : </label>
      <input ngControl="commentaireForm.auteur" class="margin-left largeur-input" type="text" 
      name="auteur" id="auteur" [(ngModel)]="commentaireForm.auteur" required/>
      <span [hidden]="commentaireForm.auteur " class="margin-alerte text-danger">Entrez un nom !</span>
    </div>

    <div class="alignement-vertical margin-texte">
      <label class="titre-formulaire" for="texte">Commentaire : </label>
      <textarea ngControl="texte" rows="8" cols="64" name="texte" 
      id="texte" [(ngModel)]="commentaireForm.texte" required></textarea>
      <span [hidden]="commentaireForm.texte " class="text-danger largeur">Entrez un texte !</span>
    </div>

    <input class="margin-bouton bouton-envoyer-commentaire" type="submit"  
          name="bouton-envoyer" id="bouton-envoyer"
          [disabled]="!commentaireForm.form.valid" value="Envoyer le commentaire"
          (click)="cacherMessageConfirmationEnvoiCommentaire()"
    />
  
  </form>
</div>

<div class="espace-haut"></div>
