<div class="hauteur-minimum principal">
    
    <div class="espace-haut"></div>
    
<div>

    <div class="titre {{cacherTableauRestaurantsVisibles}}">Sélectionnez les restaurants à supprimer :</div>
    
    <table class="largeur-tableau {{cacherTableauRestaurantsVisibles}}">
    
        <thead class="centrer-texte">
            <tr>
                <th class="a-supprimer">X</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Visité le</th>
                <th>Note</th>
                <th>Nb visites</th>
                <th>Comm.</th>
            </tr>
        </thead>
    
        <tbody>
            <ng-container *ngFor="let restaurant of (restaurant$ | async).data | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                <tr [ngClass]="{'ligne-a-supprimer': restaurant.check === true}">
                    <td>
                        <input type="checkbox" id={{restaurant.nom}} name={{restaurant.nom}}
                        value={{restaurant.restaurantId}} [(ngModel)]=restaurant.check
                        (change)="cocher($event, restaurant.check)" />
                    </td>
                    <td class="texte-en-gras largeur-colonne-nom">{{restaurant.nom}}</td>
                    <td class="largeur-colonne-adresse">{{restaurant.adresse}}</td> 
                    <td class="centrer-texte">{{restaurant.dateDerniereVisite}}</td>
                    <td *ngIf="restaurant.note" class="centrer-texte largeur-colonne-note">{{restaurant.note}} / 5</td>
                    <td *ngIf="!restaurant.note" class="centrer-texte largeur-colonne-note">-</td>
                    <td class="centrer-texte">{{restaurant.nombreVisite}}</td>
                    <td *ngIf="restaurant.nombreCommentaire" class="centrer-texte largeur-colonne-note">{{restaurant.nombreCommentaire}}</td>
                    <td *ngIf="!restaurant.nombreCommentaire" class="centrer-texte largeur-colonne-note">-</td>
                </tr>
            </ng-container>
        </tbody>
    
    </table>
    
    <div class="espace-haut"></div>

    <span class={{cacherPagination}}>
        <ngb-pagination
            class="d-flex justify-content-center"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="restaurants.length"
            [rotate]="true"
            [boundaryLinks]="true"
        >
        </ngb-pagination>
    </span>
        
    <div class="espace-haut"></div>

    <span class="margin-bouton">
        <input class="btn btn-primary margin-bouton-envoyer {{supprimerSelection}}" type="submit"  
                name="bouton-supprimer-restaurant" id="bouton-supprimer-restaurant"
                value="Supprimer la sélection" (click)="open(content)"
        />
    </span>

    <div class="espace-haut"></div>

    <!-- MODAL -->
    <ng-template #content let-modal>
        <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Validation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Etes-vous vraiment sur de vouloir supprimer ce(s) restaurant(s) ?
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-outline-dark" value="Annuler" (click)="modal.dismiss('Cross click')"/>
        <button type="button" class="btn btn-outline-success" (click)="supprimerRestaurant(); modal.dismiss('Cross click')">Ok</button>
      </div>
    </ng-template>
    
    <span class={{cacherMessageConfirmationSuppression}}>
        <img class="centrer-image" src="assets/images/supprimer.jpg" />
        <ngb-alert class="visuel-message-confirmation" type="success" [dismissible]="false">
          La suppression de ce(s) restaurant(s) est confirmée.
        </ngb-alert>
        <a routerLink="/liste">
            <input class="btn btn-primary margin-bouton-liste" type="button"  
                name="bouton-retour-liste" id="bouton-retour-liste"
                value="Retourne à la liste"
            />
        </a>
    </span>
        
    <div class="espace-haut"></div>

</div>
    