<div class="hauteur-minimum">

    <app-menu-gauche></app-menu-gauche>
    
    <div class="espace-haut"></div>
    
<div>

    <div class="titre {{cacherTableauRestaurantsVisibles}}">Sélectionnez les restaurants à supprimer :</div>
    
    <table class="largeur-tableau {{cacherTableauRestaurantsVisibles}}">
    
        <thead class="centrer-texte">
        <tr>
            <th class="a-supprimer">X</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Visité le</th>
            <th>Note</th>
            <th>Nb visites</th>
            <th>Nb comm.</th>
        </tr>
        </thead>
    
        <tbody>
        <ng-container *ngFor="let restaurantVisible of restaurantsVisibles">
            <tr [ngClass]="{'ligne-a-supprimer': restaurantVisible.check === true}">
                <td>
                    <input type="checkbox" id={{restaurantVisible.nom}} name={{restaurantVisible.nom}}
                    value={{restaurantVisible.restaurantId}} [(ngModel)]=restaurantVisible.check
                    (change)="cocher($event, restaurantVisible.check)" />
                </td>
                <td class="texte-en-gras largeur-colonne-nom">{{restaurantVisible.nom}}</td>
                <td class="largeur-colonne-adresse">{{restaurantVisible.adresse}}</td> 
                <td class="centrer-texte">{{restaurantVisible.dateDerniereVisite}}</td>
                <td *ngIf="restaurantVisible.note" class="centrer-texte largeur-colonne-note">{{restaurantVisible.note}} / 5</td>
                <td *ngIf="!restaurantVisible.note" class="centrer-texte largeur-colonne-note">-</td>
                <td class="centrer-texte">{{restaurantVisible.nombreVisite}}</td>
                <td *ngIf="restaurantVisible.nombreCommentaire" class="centrer-texte largeur-colonne-note">{{restaurantVisible.nombreCommentaire}}</td>
                <td *ngIf="!restaurantVisible.nombreCommentaire" class="centrer-texte largeur-colonne-note">-</td>
            </tr>
        </ng-container>
        </tbody>
    
    </table>
    
    <nav aria-label="Pagination liste restaurants" class="centrer-pagination {{cacherTableauRestaurantsVisibles}}">
        <ul *ngIf="nombreRestaurantTotal > 5" class="pagination">
        <li class="page-item bouton-pagination"><a class="page-link pointeur" [ngClass]="{'cache': pageEnCours === 1}" (click)="pagePrecedente()"><<  Précédent</a></li>
        <!-- TODO rendre la pagination dynamique -->
        <li class="page-item bouton-pagination"><a class="page-link pointeur" [ngClass]="{'cache': pageEnCours === pageMax}" (click)="pageSuivante()">Suivant  >></a></li>
        </ul>
    </nav>
    
    <div class="espace-haut"></div>

    <span class="margin-bouton">
        <input class="bouton-supprimer-restaurant {{supprimerSelection}}" type="submit"  
                name="bouton-supprimer-restaurant" id="bouton-supprimer-restaurant"
                value="Supprimer la sélection" (click)="supprimerRestaurant()"
        />
    </span>
    
    <div class="espace-haut"></div>

    <span class={{cacherMessageConfirmationSuppression}}>
        <img class="centrer-image" src="assets/images/supprimer.jpg" />
        <div class="visuel-message-confirmation">La suppression de ce(s) restaurant(s) est confirmée.</div>
    </span>
        
    <div class="espace-haut"></div>

</div>

    </div>
    