<div>

    <div class="font-weight-bold text-center titre my-3">
        Sélectionnez les restaurants à supprimer :
    </div>
    
    <div class="row justify-content-center cotes">
        
        <table class="table table-striped">
        
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="col-1 text-center">
                        <i class="fas fa-trash-alt"></i>
                    </th>
                    <th scope="col" class="col-3">Nom</th>
                    <th scope="col" class="col-3">Adresse</th>
                    <th scope="col" class="col-2 text-center">Visité le</th>
                    <th scope="col" class="col-1 text-center">Note</th>
                    <th scope="col" class="col-1 text-center">Nb visites</th>
                    <th scope="col" class="col-1 text-center">Comm.</th>
                </tr>
            </thead>
        
            <tbody>
                <ng-container *ngFor="let restaurant of listeRestaurants | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                    <tr [ngClass]="{'bg-danger text-white': restaurant.check === true}">
                        <td class="text-center">
                            <input
                                type="checkbox"
                                id={{restaurant.nom}}
                                name={{restaurant.nom}}
                                value={{restaurant.restaurantId}}
                                [(ngModel)]=restaurant.check
                                (change)="cocher($event, restaurant.check)"
                            />
                        </td>
                        <td scope="col" class="font-weight-bold">{{restaurant.nom}}</td>
                        <td scope="col">{{restaurant.adresse}}</td> 
                        <td scope="col" class="text-center">{{restaurant.dateDerniereVisite}}</td>
                        <td scope="col" *ngIf="restaurant.note" class="text-center">{{restaurant.note}} / 5</td>
                        <td scope="col" *ngIf="!restaurant.note" class="text-center">-</td>
                        <td scope="col" class="text-center">{{restaurant.nombreVisite}}</td>
                        <td scope="col" *ngIf="restaurant.nombreCommentaire" class="text-center">{{restaurant.nombreCommentaire}}</td>
                        <td scope="col" *ngIf="!restaurant.nombreCommentaire" class="text-center">-</td>
                    </tr>
                </ng-container>
            </tbody>
        
        </table>

        <!-- pagination de Angular bootstrap -->
        <div *ngIf="listeRestaurants.length > 7">
            <ngb-pagination
                class="d-flex justify-content-center"
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="listeRestaurants.length"
                [rotate]="true"
                [boundaryLinks]="true"
            >
            </ngb-pagination>
        </div>
    
    </div>

</div>

<div>

    <div *ngIf="afficherBoutonSupprimer" class="cote-gauche">
        <button
            class="btn btn-danger" 
            (click)="open(content)"
        >
            Supprimer la sélection
        </button>
    </div>

    <!-- MODAL -->
    <ng-template #content let-modal>

        <div class="modal-header bg-light">
            <h4 class="modal-title" id="modal-basic-title">Validation</h4>
            <button
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body font-weight-bold">
            Etes-vous sûr de vouloir supprimer ce(s) restaurant(s) ?
        </div>

        <div class="modal-footer">
            <input type="button" class="btn btn-outline-dark" value="Annuler" (click)="modal.dismiss('Cross click')"/>
            <button type="button" class="btn btn-outline-success" (click)="supprimerRestaurant(); modal.dismiss('Cross click')">Ok</button>
        </div>

    </ng-template>

</div>