<app-tabset></app-tabset>

<div class="mt-5 row justify-content-center">

    <div class="border border-dark fond {{cacherformulaireNouveauRestaurant}}">
        <form (ngSubmit)="onSubmit(ajoutRestaurantForm.value)" #ajoutRestaurantForm="ngForm">

            <div class="row justify-content-center titre-formulaire font-weight-bold mt-2 mb-5">Ajoutez un restaurant : </div>

            <div class="form-group row no-gutters mx-3">
                <label class="font-weight-bold col-12" for="nom">Nom du restaurant : <span class="col-6 text-danger font-weight-bold">*</span></label>
                <input
                    ngControl="ajoutRestaurantForm.nom"
                    class="col-11"
                    type="text" 
                    name="nom"
                    id="nom"
                    [(ngModel)]="ajoutRestaurantForm.nom"
                    required
                />
                <span [hidden]="ajoutRestaurantForm.nom" class="text-danger col-12 small">Entrez un nom !</span>
            </div>

            <div class="form-group row no-gutters mx-3">
                <label class="font-weight-bold col-12" for="adresse">Adresse du restaurant : <span class="col-6 text-danger font-weight-bold">*</span></label>
                <input
                    ngControl="ajoutRestaurantForm.adresse"
                    class="col-11"
                    type="text" 
                    name="adresse"
                    id="adresse"
                    [(ngModel)]="ajoutRestaurantForm.adresse"
                    required
                />
                <span [hidden]="ajoutRestaurantForm.adresse" class="text-danger col-12 small">Entrez une adresse !</span>
            </div>

            <div class="form-group row no-gutters mx-3">
                <label class="font-weight-bold col-12" for="dateDerniereVisite">Date de la visite : <span class="col-6 text-danger font-weight-bold">*</span></label>
                <div></div>
                <input
                    ngControl="ajoutRestaurantForm.dateDerniereVisite" 
                    class="col-4"
                    type="date" 
                    minlength="10"
                    maxlength="10"
                    name="dateDerniereVisite"
                    id="dateDerniereVisite"
                    [(ngModel)]="ajoutRestaurantForm.dateDerniereVisite"
                    required
                />
                <span
                    [hidden]="ajoutRestaurantForm.dateDerniereVisite"
                    class="text-danger col-12 small"
                >
                    Entrez une date !
                </span>
            </div>

            <div class="form-group row no-gutters mx-3">
                <label class="font-weight-bold col-12" for="note">Note (optionnel) : </label>
                <input
                    ngControl="ajoutRestaurantForm.note"
                    class="col-4"
                    type="number" 
                    placeholder="De 1 à 5"
                    minlength="1"
                    maxlength="1"
                    pattern="[1-5]"
                    min="1"
                    max="5"
                    name="note"
                    id="note"
                    [(ngModel)]="ajoutRestaurantForm.note"
                />
            </div>

            <div class="mb-3 mt-5 row justify-content-center">
                <button
                    class="btn btn-warning"
                    type="submit"  
                    name="bouton-envoyer"
                    id="bouton-envoyer"
                    [disabled]="!ajoutRestaurantForm.form.valid"
                    (click)="cacherMessageConfirmationEnvoiRestaurant();"
                >
                    Envoyer le restaurant
                </button>
            </div>

        </form>
    </div>

    <div class="justify-content-center {{cacherMessageConfirmationmEnvoi}}">

        <img src="assets/images/ajouter.jpg" />

        <ngb-alert
            class="font-weight-bold my-5"
            type="success"
            [dismissible]="false"
        >
            Ce restaurant vient d'être envoyé dans la liste.
        </ngb-alert>

        <a routerLink="/liste">
            <button
                class="btn btn-success"
                name="bouton-retour-liste"
                id="bouton-retour-liste"
            >
                Retourner à la liste
            </button>
        </a>
    </div>

</div>
