.fond-footer {
    background-color: rgb(204, 233, 229);
}

.texte-footer {
    font-weight: bold;
    font-size: 18px;
}

.ancrage-footer {
    position: fixed;
    bottom: 0px;
}

.taille-footer {
    width: 100%;
}

.centrer-texte-vertical {
    margin: auto;
    line-height: 80px;
}

.texte-gauche {
    text-align: left;
    margin-left: 5%;
    display: inline-block;
}

.texte-droite {
    text-align: right;
    margin-right: 5%;
    float: right;
}

.separation-haute {
    border-top: 1px solid rgb(188, 209, 206);
}
