<nav>

  <ul class="nav nav-pills bg-light">

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="accueil"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="fas fa-home"></i>
        Accueil
      </a>
    </li>

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="liste"
        routerLinkActive="active"
      >
        <i class="fas fa-list-alt"></i>
        Liste des restaurants
      </a>
    </li>

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="ajouter-restaurant"
        routerLinkActive="active"
      >
        <i class="fas fa-plus-square"></i>
        Ajouter un restaurant
      </a>
    </li>

    <li class="nav-item ml-3">
        <a
          class="nav-link"
          routerLink="supprimer-restaurant"
          routerLinkActive="active"
        >
          <i class="fas fa-minus-square"></i>
          Supprimer un restaurant
        </a>
    </li>

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="carte-restaurants"
        routerLinkActive="active"
      >
        <i class="fas fa-map-marked-alt"></i>
        Carte des restaurants
      </a>
    </li>

  </ul>

</nav>