<ngb-tabset class="fond-tabset">

  <ngb-tab class="fond-tabset">
    <ng-template class="fond-tabset" ngbTabTitle>
        <a routerLink="/" routerLinkActive class="fond-tabset">Accueil</a>
    </ng-template>
    <ng-template class="fond-tabset" ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
        <a routerLink="/liste" routerLinkActive>Liste des restaurants</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
        <a routerLink="/ajouter-restaurant" >Ajouter un restaurant</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
        <a routerLink="/supprimer-restaurant" >Supprimer un restaurant</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

</ngb-tabset>
