<nav>

  <ul class="nav nav-pills bg-light">

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Accueil
      </a>
    </li>

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="/liste"
        routerLinkActive="active"
      >
        Liste des restaurants
      </a>
    </li>

    <li class="nav-item ml-3">
      <a
        class="nav-link"
        routerLink="/ajouter-restaurant"
        routerLinkActive="active"
      >
        Ajouter un restaurant
      </a>
    </li>

    <li class="nav-item ml-3">
        <a
          class="nav-link"
          routerLink="/supprimer-restaurant"
          routerLinkActive="active"
        >
          Supprimer un restaurant
        </a>
    </li>

  </ul>

</nav>