<div class="mt-5 row justify-content-center">

    <div class="border border-secondary bg-light" *ngIf="detailRestaurant">

      <div class="row justify-content-center titre-fiche font-weight-bold mt-2 mb-5">Fiche du restaurant</div>

      <div class="margin-categories">
        <span class="categories-fiche">Nom de l'établissement : </span>{{(restaurant$ | async).data[id].nom}}
      </div>

      <div class="margin-categories">
        <span class="categories-fiche">Adresse : </span>{{(restaurant$ | async).data[id].adresse}}
      </div>

      <div class="margin-categories">
        <span class="categories-fiche">Date de visite : </span>{{(restaurant$ | async).data[id].dateDerniereVisite}}
      </div>

      <div class="margin-categories align">
        <span class="categories-fiche marge-droite">Note :</span>
        <span *ngIf="!(restaurant$ | async).data[id].note" class="italique"> Pas encore de note ...</span>
        <span *ngIf="(restaurant$ | async).data[id].note"></span>{{(restaurant$ | async).data[id].note}}
      </div>

      <div class="margin-categories">
        <span class="categories-fiche">Nombre de visite : </span>{{(restaurant$ | async).data[id].nombreVisite}}
      </div>

      <div class="margin-categories">
        <div class="align">
          <span class="categories-fiche marge-droite">Commentaire(s) :</span>
          <div *ngIf="(restaurant$ | async).data[id].nombreCommentaire === 0" class="italique"> Pas encore de commentaire ...</div>
        </div>
        <div *ngFor="let commentaire of (restaurant$ | async).data[id].commentaire" class="centrer-commentaire">
          <ul>
            <li><span class="categories-fiche">Auteur : </span>{{commentaire.auteur}}</li>
            <li><span class="categories-fiche">Commentaire : </span>{{commentaire.texte}}</li>
          </ul>
        </div>
      </div>

    </div>
    
</div>
<div>
  <div class="visuel-message-confirmation">

    <div class={{confirmationEnvoiCommentaire}}>
      <span>Le commentaire a bien été envoyé !</span>
    </div>

    <ngb-alert class="visuel-message-confirmation {{confirmationEnvoiNote}}" type="success" [dismissible]="false">
      La note a bien été envoyée !
    </ngb-alert>

  </div>

  <div>

    <span *ngIf="formulaireCommentaire === 'cacher-formulaire-commentaire'">
        <span *ngIf="formulaireNote === 'cacher-formulaire-note'" >
          <input 
            type="button" value="Ajouter une note" 
            class="btn btn-primary margin-bouton-note" (click)="cacherVisibleNote(); cacherFicheRestaurant()"
          />
        </span>
        <span *ngIf="formulaireNote !== 'cacher-formulaire-note'" >
          <input 
            type="button" value="Annuler cette note" 
            class="btn btn-primary margin-bouton-note-seul" (click)="cacherVisibleNote(); cacherFicheRestaurant()"
          />
        </span>
    </span>

    <span *ngIf="formulaireNote === 'cacher-formulaire-note'">
        <span class="aligner" *ngIf="formulaireCommentaire === 'cacher-formulaire-commentaire'" >
          <input
            type="button" value="Ajouter un commentaire" 
            class="btn btn-primary margin-bouton-commentaire" (click)="cacherVisibleCommentaire(); cacherFicheRestaurant()"
          />
        </span>
        <span class="centrer-bouton" *ngIf="formulaireCommentaire !== 'cacher-formulaire-commentaire'">
          <input
            type="button" value="Annuler ce commentaire" 
            class="btn btn-primary margin-bouton-commentaire-seul" (click)="cacherVisibleCommentaire(); cacherFicheRestaurant()"
          />
        </span>
    </span>

  </div>

  <div class={{formulaireCommentaire}}>
    <app-ajouter-commentaire></app-ajouter-commentaire>
  </div>

  <div class={{formulaireNote}}>
    <app-ajouter-note></app-ajouter-note>
  </div>

</div>