th {
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(134, 89, 89);
    font-family: 'Comic sans MS';
    color: white;
}

table {
    border-spacing: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.espace-haut {
    height: 20px;
}

.titre {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 100px;
}

.centrer-texte {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(178, 207, 204);
}

tr:nth-child(odd) {
    background-color: #fff;
}

.texte-en-gras {
    font-weight: bold;
}

.largeur-tableau {
    margin-right: 10px;
}

.centrer-texte-vertical {
    margin: auto;
    line-height: 80px;
}

.aligner-gauche {
    text-align: left;
    margin-left: 10%;
    display: inline;
}

.pointeur {
    cursor: pointer;
}

.largeur-colonne-nom {
    width: 260px
}

.largeur-colonne-adresse {
    width: 300px
}

.largeur-colonne-note {
    width: 80px
}

.hauteur-minimum {
    min-height: 790px;
}

.principal{
    margin-left: 230px;
}

.bouton-detail {
    background-color: rgb(66, 66, 189);
    border: 1px solid rgb(66, 66, 189);
    width: 65px;
    height: 35px;
}

.bouton-detail:hover {
    background-color: rgb(111, 111, 255);
    border: 1px solid rgb(111, 111, 255);
}
