<div class="hauteur-minimum">

  <app-menu-gauche></app-menu-gauche>
  
  <div class="espace-haut"></div>

  <div class="titre">Liste des restaurants :</div>

  <table class="largeur-tableau">

    <thead class="centrer-texte">
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Visité le</th>
        <th>Note</th>
        <th>Nb visites</th>
        <th>Nb comm.</th>
        <th>Détail</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let restaurant of (restaurant$ | async).data | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <tr>
          <td class="texte-en-gras largeur-colonne-nom">{{restaurant.nom}}</td>
          <td class="largeur-colonne-adresse">{{restaurant.adresse}}</td> 
          <td class="centrer-texte">{{restaurant.dateDerniereVisite}}</td>
          <td *ngIf="restaurant.note" class="centrer-texte largeur-colonne-note">{{restaurant.note}} / 5</td>
          <td *ngIf="!restaurant.note" class="centrer-texte largeur-colonne-note">-</td>
          <td class="centrer-texte">{{restaurant.nombreVisite}}</td>
          <td *ngIf="restaurant.nombreCommentaire" class="centrer-texte largeur-colonne-note">{{restaurant.nombreCommentaire}}</td>
          <td *ngIf="!restaurant.nombreCommentaire" class="centrer-texte largeur-colonne-note">-</td>
          <td class="centrer-texte">
            <a [routerLink]="['/liste', restaurant.restaurantId]"><app-bouton></app-bouton></a>
          </td>
        </tr>
      </ng-container>
    </tbody>

  </table>

  <div class="espace-haut"></div>

  <ngb-pagination
    class="d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="(restaurant$ | async).data.length"
    [rotate]="true"
    [boundaryLinks]="true"
  >
  </ngb-pagination>

  <div class="espace-haut"></div>
  
</div>
