<div class="espace-haut"></div>

<div class="titre-page">Choisissez votre note : </div>

<div class="centrer-formulaire margin-bottom">
  <form>

    <div *ngFor="let note of notes">
      <div class="margin-etoile">
        <label class="titre-formulaire largeur-choix">{{note.avis}}</label>
        <div class="aligner largeur-input droite">
          <input  class="droite" type="radio" 
          name="note-radio" value={{note.note}}
          (change)="changementEtatBoutonRadio($event)"
          />
          <img src={{note.image}} />
        </div>
      </div>
    </div>

    <input class="margin-bouton bouton-envoyer-note" type="submit"  
          name="bouton-envoyer" id="bouton-envoyer"
          value="Envoyer la note" (click)="envoyerNote()"
          (click)="cacherMessageConfirmationEnvoiNote()"
    />
  
  </form>
</div>

<div class="espace-haut"></div>
